body {
  margin: 0;
}

* {
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Base font size assumed: 16px */
  --h1: clamp(2.25rem, 4vw, 3.5rem);
  --h2: clamp(1.9rem, 3.2vw, 2.75rem);
  --h3: clamp(1.5rem, 2.4vw, 2rem);
  --h4: clamp(1.25rem, 1.8vw, 1.5rem);
  --h5: clamp(1.1rem, 1.4vw, 1.25rem);
  --h6: 1rem;
}

.merriweather,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.lato,
a,
p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  display: inline-block;
  padding: 0.75rem 1.5rem; /* nice comfortable padding */
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #fff; /* text color */
  background-color: #333; /* dark background */
  border: 2px solid transparent;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #222; /* slightly darker on hover */
  transform: translateY(-2px); /* subtle lift for elegance */
}

p {
  font-weight: 18px;
}

.bold {
  font-weight: 700;
}

a {
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
  width: 100%;
}

.center {
  text-align: center;
}

div.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 1;
}

.column-2 {
  flex: 1 1 calc(50% - 1rem);
}

.column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* page sections */
header {
  display: flex;
  align-items: center;
  gap: 2em;
  max-width: 1280px;
  padding: 1em;
  width: 100%;
}

header .right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

header a {
  font-weight: 500;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing {
  max-width: 1280px;
  width: 100%;
}

#landing h1 {
  font-size: clamp(4.25rem, 6vw, 5.5rem);
  font-weight: 500;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
